.footer{
	z-index: 1;
}
.footer .logo{	
	 height: 90px; position: relative;
	 padding: 55px 0 0 100px;
}
.footer .logo  a{
	display: block;width: 196px;height: 56px;float: left;background: url(../img/kede_logo.gif) no-repeat;
}
.footer .logo  span{
	float: left ;line-height: 81px;margin-left: 20px;color: #666;
    font-size: 18px;font-weight: 100; display: block;width: 72px;height: 81px;
}
.footer .sign{
	text-align: right; padding-right: 100px; line-height: 30px;
}
.footer .sign a {
	color: #90C221;
}.footer .sign a:hover {
	color: #FF6600;
}


/*注册*/
.footer  .zc{
	width: 990px;height: 400px; background: white; margin: 0 auto;
}
.footer  .zc a {
	color: #90C221;
}
.footer  .zc .inputTab{
	width: 340px;height: 340px;padding: 30px 0 0 74px;float: left;
}
.footer .zc .inputTab em{ width:; color:  #f60; float: left;}
.footer .zc .inputTab p{
	    float: left;width: 95px;text-align: center;height: 32px;line-height: 32px;color: #333;font-size: 14px;
}
.footer .zc .inputTab span{
	height: 24px;width:320px;display: block;color: #f60;text-align: center;
}
.footer .zc .test{
	margin-left: 95px; 
}
.footer .zc button{
	display: none;
	border: none;cursor: pointer; width: 240px; height: 36px; line-height: 36px; margin: 0 0 10px 95px;
	background: #FF6600; border-radius: 3px;font-weight: bold;font-size: 16px;color: white;outline: none;
}
.footer .zc .spell{
	border: none;width: 240px; height: 36px; line-height: 36px; margin: 0 0 10px 95px;
	background: #ccc; border-radius: 3px;font-weight: bold;font-size: 16px;color: white;outline: none;text-align: center;
}
.footer .zc .inputTab .put{
		width: 240px; height: 30px;
}
.footer .zc img{
	margin: 50px 0 0 30px;float: left; padding-left: 20px;border-left: 1px solid #ccc;
}

/*登录*/
.footer .denglu{
	width: 990px;height: 400px;background: white;margin: 0 auto; padding-top: 100px;
}
.footer .denglu img{
	margin: 0 10px 0 10px; border-right: 1px solid #ccc; padding-right: 10px;float: left;
}
.footer .denglu .dlTab{
	float: left; padding-left: 70px;
}
.footer .denglu .put1 {
	width: 290px;border: 1px solid #ccc;height: 30px;margin-bottom: 20px;
}
.footer .denglu .put1 input{
	width: 240px;height: 30px;border: none;outline: none;
}
.footer .denglu .put1 span{
	width: 240px;height: 30px;color: #FF6600;text-align: center;display: block;margin: 30px 0 10px 0;line-height: 30px;font-size: 14px;
}
.footer .denglu .usr{
	width:24px;height: 24px;display: inline-block; margin-top: 3px;
	background: url(../img/allbgs.png) no-repeat 0 -24px;
}
.footer .denglu .psw{
	width:24px;height: 24px;display: inline-block;margin-top: 3px;
	background: url(../img/allbgs.png) no-repeat 0 0;
}

.footer .denglu .checkBox{margin-top: 40px;}
.footer .denglu .checkBox span{
	width: 110px;height: 20px;display: inline-block;
}
.footer .denglu .checkBox a {
	color: #6D9D03; 
}
.footer .denglu .checkBox a:hover {
	color: #FF6600; 
}
.footer .denglu button{
	cursor: pointer;background: #f60;width: 290px;height: 32px; margin: 15px 0;
    font-size: 15px;color: #fff;border-radius: 3px;font-weight: 400;border: 0;
}
.footer .denglu .dlTab li{
	float: left; width: 32px; height: 32px; margin: 20px 20px 0 0;
}
.footer .denglu .dlTab li a {
	width: 32px; height: 32px;display: block;border-radius: 16px;
}
.footer .denglu .dlTab li a:hover {
	background-position-y: -106px; background-color: #FF6600;
}
.footer .denglu .dlTab .li1{
	background: url(../img/allbgs.png) 0 -74px no-repeat #ccc;
}
.footer .denglu .dlTab .li2{width: 32px; height: 32px;
	background: url(../img/allbgs.png) -38px -74px no-repeat #ccc ;
}
.footer .denglu .dlTab .li3{width: 32px; height: 32px;
	background: url(../img/allbgs.png) -78px -74px no-repeat #ccc ;
}


/*滑动插件*/
#slider {
  width: 240px;
  height: 30px;
  position: relative;
  border-radius: 2px;
  background-color: #dae2d0;
  overflow: hidden;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#slider_bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #90C31F;
  z-index: 1;
}

#label {
  width: 30px;
  position: absolute;
  left: 0;
  top: 0;
  height: 28px;
  line-height: 28px;
  border: 1px solid #cccccc;
  background: #fff;
  z-index: 3;
  cursor: pointer;
  color: #ccc;
  font-size: 16px;
  font-weight: 900;
}

#labelTip {
  position: absolute;
  left: 0;
  color: #999;
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: 'Microsoft Yahei', serif;
  line-height: 30px;
  text-align: center;
  z-index: 2;
}


/*验证码插件*/
#ehong-code-input{
	width:42px;
	letter-spacing:2px;
	margin:0px 8px 0px 0px;
}
.ehong-idcode-val{
	position:relative;
	padding:1px 4px 1px 4px;
	top:0px;
	*top:-3px;
	letter-spacing:4px;
	display:inline;
	cursor:pointer;
	font-size:16px;
	font-family:"Courier New", Courier, monospace;
	text-decoration:none;
	font-weight:bold;
}
.ehong-idcode-val0{
	border:solid 1px #A4CDED;	
	background-color:#ECFAFB;
}

.ehong-idcode-val1{
	border:solid 1px #A4CDED;	
	background-color:#FCEFCF;
}
.ehong-idcode-val2{
	border:solid 1px #6C9;	
	background-color:#D0F0DF;
}
.ehong-idcode-val3{
	border:solid 1px #6C9;	
	background-color:#DCDDD8;
}
.ehong-idcode-val4{
	border:solid 1px #6C9;	
	background-color:#F1DEFF;
}
.ehong-idcode-val5{
	border:solid 1px #6C9;	
	background-color:#ACE1F1;
}
.ehong-code-val-tip{
	font-size:12px;
	color:#1098EC;
	top:0px;
	*top:-3px;	
	position:relative;	
	margin:0px 0px 0px 4px;
	cursor:pointer;	
}
#idcode{
	width: 50px;
	height: 32px;
	display: inline-block;
}
.txtVerification{
	width: 150px;
	height: 30px;
	border: 1px solid #ccc;
	margin-right: 10px;
}
